# Ambiente de desenvolvimento ou produção
NODE_ENV='development' # development ou production

# Upload Configuration
UPLOAD_DIR='./public/uploads'
NGINX_UPLOAD_URL='http://localhost:3000/uploads'

# URL do banco de dados PostgreSQL
# postgresql://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO
DATABASE_URL='postgresql://usuario:senha@localhost:5432/silo'

# Dados para envio de e-mails
# 1. Ativar verificação em duas etapas (2FA) em https://myaccount.google.com/security
# 2. Criar uma senha de app (App Password) em https://myaccount.google.com/apppasswords
# 3. Copiar a senha de app de 16 caracteres, tipo essa: xxxx xxxx xxxx xxxx
SMTP_HOST='smtp.gmail.com' # Exemplo: smtp.gmail.com
SMTP_PORT='587' # Porta para conexão (587 para TLS, 465 para SSL)
SMTP_SECURE=false # Defina como true se usar SSL
SMTP_USERNAME='' # E-mail do remetente
SMTP_PASSWORD='' # Senha de app

# Autenticação com Google
# https://arcticjs.dev/providers/google
# 1. Para produção, ir em APIs e serviços: https://console.cloud.google.com/apis/dashboard
# 2. Clicar em Tela de permissão OAuth. Clique em Branding e adicione o domínio autorizado e o e-mail.
# 3. Em público-alvo, clique no botão de Publicar app e confirme. O App precisa estar com o status "Em produção" e não "Testando".
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_CALLBACK_URL='http://localhost:3000/api/auth/callback/google'
