# Ambiente de desenvolvimento ou produção
NODE_ENV="development" # development ou production

# Upload Configuration
UPLOAD_DIR="./public/uploads"
NGINX_UPLOAD_URL="http://localhost:3000/uploads"

# URL do banco de dados PostgreSQL
# postgresql://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO
DATABASE_URL=postgresql://usuario:senha@localhost:5432/silo

# Dados para envio de e-mails
SMTP_HOST= # Exemplo: smtp.mailgun.org ou smtp.hostinger.com.br
SMTP_PORT= # Porta para conexão (587 para TLS, 465 para SSL)
SMTP_SECURE= # Defina como true se usar SSL (porta 465), false para TLS (porta 587)
SMTP_USERNAME= # Usuário/E-mail para autenticação SMTP
SMTP_PASSWORD= # Senha do SMTP

# Autenticação com Google
# https://arcticjs.dev/providers/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/callback/google
